 @font-face { font-family: sterion; src: url('sterion-font/Sterion-BLLld.tff'); } 
 @font-face { font-family: sterion; font-weight: bold; src: url('sterion-font/Sterion-BLLld.ttf');}
h1, a {
 font-family: sterion;
 font-weight: bold;}
body{
    background-image: url(Phobos_colour_2008.jpg) ;
    height: 1%;
    background-size: cover;
    background-repeat: repeat-y;

}

